* {
    margin: 0;
    padding: 0;
}

html, body, #wrapper {
    width: 100dvw;
    height: 100dvh;
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    height: 100dvh;
    min-height: 0;
}

main {
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
    justify-content: center;
}

main > div {
    padding: 5px;
}

.content {
    display: flex;
    flex-flow: column wrap;
}

.status.open {
    background: green;
}

.status.error {
    background: red;
}

.status {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    margin-left: 10px;
}

header, footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #00c890;
}

footer {
    background: #00c89091;
}

header h1 {
    color: black;
}